<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'afterlogin.css' %}">
</head>
<body>
  <header>    
    <nav>
      {% load static %}
        <p class="name"><img class="logo" src="{% static 'open-book.jpg' %}" alt="open-book"> Cairo University Library</p>
        <ul type="none">  
            <li><a href="{% url 'adminpage' %}">Home</a></li>
            <li><a href="{% url 'adminupdate' %}" class="active">Update</a></li>
            <li><a href="{% url 'books'%}">Books</a></li>
            <li ><a href="{% url 'adminlogout' %}">LogOut</a></li>  
        </ul> 
        </ul>    
    </nav>
  </header>
 
  {% load static %}
  <form class="wrapper" action="{% url 'adminupdate'%}" method="POST">
     <h2> Profile Update</h2>
     <div>
      {% for message in messages %}
      <h5 style="color: brown;"> {{message}} </h5> 
      {% endfor %} 
    </div>
    {% csrf_token %}
     <input type="text" placeholder="Old UserName" name="username1" style="height: 40px;"> <br>
     <input type="text" placeholder="New UserName" name="username2" style="height: 40px;"> <br>
     <input type="submit" value="Update Username" name="updateAdminUsername">
  </form>
 
</body>
</html>
