<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Student Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'afterlogin.css' %}">
    <link rel="stylesheet" href="{% static 'books.css' %}">
</head>
    <body>
    <header>    
        <nav > 
            {% load static %}
            <p class="name"><img class="logo" src="{% static 'open-book.jpg' %}" alt="open-book"> Cairo University Library</p>
            <ul type="none">  
                <li><a href="{% url 'afterlogin' %}">Home</a></li>
                <li><a href="{% url 'update' %}">Update</a></li>
                <li><a href="{%url 'books_by_students'%}" class="active">Books</a></li>
                <li ><a href="{% url 'logout' %}">LogOut</a></li>  
            </ul>    
        </nav>
    </header>
        <div>
                
            <form method="GET" action="{% url 'books_by_students' %}" >
                {% csrf_token %}
                <label for="search_name" style="color: aliceblue; background-color:chocolate; margin:10px; padding:6px; border-radius:15px"> <b>Browsing books</b> </label>
                <input name="search_name" type="search" placeholder="Search by book name" style="width: 500px; height:40px">
            </form>
        </div>
        <table >
            <tr id="header" >
                <th >Id</th><th>BookName</th> <th>AuthorName</th> <th>ISBN</th> <th>PublicationYear</th> <th>ToBorrow</th><th>ToReturn</th><th>ToExtend</th>
            </tr>
                {% for x in book %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.BookName}}</td>
                <td>{{x.AuthorName}}</td>
                <td>{{x.ISBN}}</td> 
                <td>{{x.PublicationYear}}</td> 
                <td ><a id='pro' href="{% url 'borrowing' %}?id={{x.id}}" onclick="disable_(x.isborrowed)">borrow</a></td>
                <td><a href="{% url 'returning' %}?id={{x.id}}">return</a></td>
                <td><a href="{% url 'extending' %}?id={{x.id}}">extend</a></td>
            </tr>
                {% endfor %}
                <div>
                    {% for message in messages %}
                    <h5 style="color:green;font-size:large; text-align:center; margin-bottom:10%" > {{message}} </h5> 
                    {% endfor %}
                <br> 
                </div> 
        </table>
        <script>
            function disable_(x){
                if (x.isBorrowed)  {
                    document.getElementById("pro").enable=false
                        
            }}
        </script>
        
    </body>
</html>